.interaction{background-color: #e8e8ea}


.fa-plus-circle{position: absolute;
				top:-40%;}
.heart:hover,.bell:hover{opacity: .6;}
textarea{display:inline-block;
	     height: 60%;
         border-bottom-left-radius: 20px;
		 border-bottom-right-radius: 20px;
		 border-top-left-radius: 20px;
		 border-top-right-radius: 20px;
}
.comment{font-size: 12px;
	     background-color: #dedede;
	     padding: 10px;
         border:1px solid #dedede;
		 border-bottom-left-radius: 20px;
		 border-bottom-right-radius: 20px;
		 border-top-left-radius: 20px;
		 border-top-right-radius: 20px;
}
/*********************************************************************/
.time-line{opacity: 1 !important;}
.nav-tabs .nav-link {
    color:#333 !important;
}

.nav-link.active {
    color: red !important;
    border-color: #fff #fff red !important;
	font-weight: bold !important;
	border-bottom: 3px solid red !important;
}